<header class="bg-nao py-5 mb-5">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h1 class="display-4 text-white">GDPR</h1>
        </div>
      </div>
    </div>
  </header>
  <main role="main" class="container">
    <h3 class="mt-5">Dataskyddsförordningen (GDPR) är en EU-förordning om dataskydd och integritet.</h3>
    <p class="lead">Enkelt förklarat gäller GDPR för alla personuppgifter som hanteras inom EU:s gränser, eller avser personer i EU – oavsett var den organisation som hanterar uppgifterna finns.<br /><br />

        Det huvudsakliga syftet med GDPR är att förena och förenkla lagstiftningen samt stärka dataskyddet för den enskilde individen på samma sätt i hela EU.<br />
        
        För individer innebär det här en ökad kontroll över ens personuppgifter.
        </p>
  </main>
  <main role="main" class="container">
    <h3 class="mt-5">Net at Once syn på GDPR</h3>
    <p class="lead">På Net at Once välkomnar vi GDPR. Data och informationssäkerhet har alltid varit högsta prioritet hos oss. GDPR ger nu dig som konsument svart på vitt vilken typ av kundinformation som sparas vilket är bra.<br /><br />

        Net at Once hanterar personuppgifter med största omsorg, och vid behov anpassar vi våra produkter, system och processer i enlighet med de krav som anges i GDPR. Vi kommer liksom tidigare att fortsätta förbättra våra tjänster med våra kunders integritet i åtanke.
        </p>
  </main>
  <main role="main" class="container">
    <h3 class="mt-5">GDPR för Net at Once kunder</h3>
    <p class="lead">På Net at Once värnar vi om våra kunder, vilket innebär att vi bryr oss om dig och din integritet.<br /><br />

        För oss är det viktigt att villkoren för våra tjänster är lättillgängliga samt att du är medveten om vilken information vi samlar in om dig och hur vi hanterar den för att kunna erbjuda dig våra tjänster.
        </p>
  </main>
  <main role="main" class="container">
    <h3 class="mt-5">Vilken information sparar vi då?</h3>
    <p class="lead">Vi sparar endast den information som vi behöver för att fullfölja vårt avtal med er. Vi sparar Namn, adress, personnummer, e-postadress, vilka tjänster man köper, avtalstid, IP-adresser, kreditstatus (sparas max 3 månader), fakturainformation, eventuellt kontonummer till autogiro och i förekommande fall fastighetsbeteckning. Vid samtal med vår support registrerar vi vad samtalet har handlat om samt hur och om felet blev avhjälpt och om vi skall återkoppla eller eskalera ärendet. Köper man telefoni av oss, så sparar vi de uppgifter som krävs för att vi skall kunna fakturera samtalen. Vilket nummer man har ringt samt hur länge samtalet har pågått.<br /><br />

        Rent generellt kan man säga att vi sparar uppgifterna så länge de behövs enligt lag (t.ex. minst 7 år för faktura-relaterade uppgifter såsom namn, adress). För andra saker är policyn att vi raderar 12 månader efter avslutat behov.
        </p>
  </main>
  <main role="main" class="container">
    <h3 class="mt-5">Vilka delar vi uppgifterna med?</h3>
    <p class="lead">Ibland hyr vi in extern support från Datakompisen och för att de skall kunna hjälpa dig som kund behöver de tillgång till samma information som oss. Tillhör du ett byanät, så delar vi namn, adress, fastighetsbeteckning och IP-nummer via vår administrationsportal. För kunder som har IP-TV eller har möjlighet att teckna sig för en sådan tjänst, så delar vi information med Sappa.</p>
  </main>
  <main role="main" class="container">
    <h3 class="mt-5">Varför sparar vi uppgifter?</h3>
    <p class="lead">Vi sparar uppgifter för att kunna fullfölja vårt avtal mot er som kund och för att kunna leverera en så bra produkt som möjligt. Uppgifter sparas också för att vi skall kunna ge er bra erbjudande via e-post eller brev..</p>
  </main>
  <main role="main" class="container">
    <h3 class="mt-5">Vilka rättigheter har du som kund?</h3>
    <p class="lead">Du kan när som helst begära ett registerutdrag för att kontrollera vilken information som vi har registrerat. Du kan också när som helst begära att vi inte skall skicka erbjudande eller marknadsföra våra tjänster till dig. Begäran enligt ovan skickar du till kundtjanst@netatonce.se.<br /><br />

        Om några uppgifter vi har är felaktiga, ofullständiga eller missvisande, så är vi skyldiga att omgående rätta dessa.</p>
  </main>