<div class="row">
  <div class="col-lg-6 mb-5 mb-lg-0">
    <h6>Privat</h6>
    <ul class="list-unstyled text-small">
      <li *ngIf="openClosed && openClosed.priv">
        <span *ngIf="openClosed.priv.isOpenToday && openClosed.priv.isOpenNow">Telefonkö öppen idag: {{openClosed.priv.open}}-{{openClosed.priv.close}}.</span>
        <span *ngIf="openClosed.priv.isOpenToday && !openClosed.priv.isOpenNow">Kundtjänst har nu stängt.</span>
        <span *ngIf="!openClosed.priv.isOpenToday">Vi har stängt hela dagen</span>
      </li>
      <li>
        <br />
        <b>Ordinarie tider:</b><br />
        Helgfri vardag: 10:00-20:00.<br />
        Övriga dagar: 12:00-16:30.
      </li>
    </ul>
  </div>
  <div class="col-lg-6 mb-5 mb-lg-0">
    <h6>Företag</h6>
    <ul class="list-unstyled text-small">
      <li *ngIf="openClosed && openClosed.comp">
        <span *ngIf="openClosed.comp.isOpenToday && openClosed.comp.isOpenNow">Telefonkö öppen idag: {{openClosed.comp.open}}-{{openClosed.comp.close}}.</span>
        <span *ngIf="openClosed.comp.isOpenToday && !openClosed.comp.isOpenNow">Företagssupport har nu stängt, support nu endast via jourtelefon.</span>
        <span *ngIf="!openClosed.comp.isOpenToday">Företagssupport har stängt hela dagen. Support endast via jourtelefon.</span>
      </li>
      <li>
        <br />
        <b>Ordinarie tider:</b><br />
          Helgfri vardag: 08:00-17:00.<br />
          Övriga dagar: Stängt.
      </li>
    </ul>
  </div>
</div>
