<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container">
      <h1 class="mb-0">Den trådlösa framtiden är här</h1>
      <h2 class="mb-0">At last, simple IT that just works!</h2>
    </div>
  </div>
</header>

<section class="bg-light" id="ladda ner">
  <br />
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2 class="section-heading text-uppercase">Växelpaket för företaget</h2>
      <p>KOMBINERA FRITT</p>
    </div>
    <div class="container">
      <p>
        I Flow väljer du mellan fyra olika växelpaket. I Flow Free ingår en
        växeltjänst, i Flow Business ingår tre, i Flow Enterprise ingår åtta och
        i Flow Unlimited är det obegränsat. Välj de växeltjänster som passar
        ditt företag bäst. Kanske behöver du en kö, tre talsvar och tre
        röstbrevlådor? Skulle ditt företags behov förändras kan du när som helst
        justera ditt paket och kombinera nya tjänster.
      </p>
    </div>
  </div>
</section>
<section class="bg-white container" id="ladda ner">
  <br />
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2 class="section-heading text-uppercase">VÄXELTJÄNSTER I FLOW</h2>
      <img
        class="img-fluid"
        src="../../../assets/img/business/home/flow2.png"
      />
    </div>
    <div class="album py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h3>TALSVAR</h3>
            <p>Knappval styr samtalen till rätt avdelning och person.</p>
          </div>
          <div class="col-md-6">
            <h3>KÖSYSTEM</h3>
            <p>Fördelar samtal på ett antal kömedlemmar.</p>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="album py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h3>FAXBREVLÅDA</h3>
            <p>Få inkommande fax direkt till mejlen som en PDF.</p>
          </div>
          <div class="col-md-6">
            <h3>RÖSTBREVLÅDA</h3>
            <p>Lyssna av meddelande från mobil eller dator.</p>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="album py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h3>ANSLUTNING</h3>
            <p>Anslut konferenstelefon, analog fax eller porttelefon.</p>
          </div>
        </div>
      </div>
    </div>
    <hr />
  </div>
</section>

<section class="bg-light" id="ladda ner">
  <br />
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2 class="section-heading text-uppercase">
        Telefonilicenser för användaren
      </h2>
      <p>VÄLJ OCH ANPASSA</p>
    </div>
    <div class="container">
      <p>
        I licensen Flow Mobile ingår 3000 externa samtalsminuter, sms eller mms
        per månad. I Flow Fixed ingår 3000 externa samtalsminuter. Interna
        samtal inom företaget är kostnadsfria. Licenser kan du flytta runt
        precis hur du vill, till exempel om en kollega börjar eller väljer att
        sluta. Du har dessutom möjlighet att lägga till användare gratis med
        Free-licenser. Personer med Flow Free får tillgång till alla plattformar
        och kan chatta med kollegor.
      </p>
    </div>
  </div>
</section>
