<header class="bg-nao py-5 mb-5">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-12">
        <h1 class="display-4 text-white">Information om cookies</h1>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-md-12 mb-6">
      <h2>Vad är Cookies</h2>
      <hr>
      <p>En cookie (eller kaka) är en liten textfil som en webbplats sparar på besökarens dator. Cookies används på de
        flesta webbplatser för att ge en besökare tillgång till olika funktioner eller för att få statistik hur en
        webbplats används.</p>
      <p>Det finns två typer av cookies. Den ena typen sparar en fil under en längre tid på besökarens dator, kakan har
        då ett utgångsdatum. Den används för funktioner som ska fungera mellan gångerna en webbplats används. T.ex.
        komma ihåg en användare för att användaren inte ska behöva logga in vid varje besök.</p>
      <p>Den andra typen av kakor kallas sessionscookies och saknar utgångsdatum. Under tiden en användare är inne och
        surfar på en sida, lagras den temporärt i användarens dators minne exempelvis för att hålla reda på vilket språk
        denne har valt eller varorna som lagts i en varukorg. Sessionscoookies försvinner från användarens dator när
        användaren stänger sin webbläsare.</p>
        <br />
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mb-6">
      <h2>Tredjepartscookies</h2>
      <hr>
      <p>En tredjepartscookie kommer från någon annan än den som äger webbplatsen. Det rör sig då om tjänster som
        webbplatsägaren har valt att lägga in på sin webbplats. Dessa kan vara både sessionscookies eller cookies som
        sparas längre.</p>
        <br />
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mb-6">
      <h2>Avvisa cookies</h2>
      <hr>
      <p>Du kan alltid vägra cookies på din dator genom att ändra inställningarna i din webbläsare. Var du hittar
        inställningarna beror på vilken webbläsare du använder.</p>
      <p>Tänk dock på att om du gör detta så finns det många funktioner och tjänster, du inte kan använda, eftersom
        dessa funktioner och tjänster förutsätter att webbplatsen kan komma ihåg de val du gör. Du kan stänga av cookies
        från Google Analytics här. Det är möjligt att välja bort vissa annonsnätverk som delar information mellan olika
        nätverk här.</p>
        <br />
    </div>
  </div>
</div>
