<main role="main">
  <div class="container">
    <section>
      <img
        class="img-fluid"
        alt="Responsive image"
        src="https://raw.githubusercontent.com/megakb888/img/master/assets/img/personal/contact/contact_banner.webp"
      />
    </section>
  </div>
  <br />
  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <!-- Team Member 1 -->
      <div class="col-xl-4 col-md-4 mb-4">
        <div class="card border-0 shadow">
          <img
            src="https://raw.githubusercontent.com/megakb888/img/master/assets/img/personal/contact/contact_support.webp"
            class="card-img-top"
            alt="kontakt support"
          />
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Support</h5>
            <div class="card-text text-black-50">0771-40 44 00</div>
            <div class="card-text text-black-50">
              <a href="mailto:kundtjanst@netatonce.se"
                >kundtjanst@netatonce.se</a
              >
            </div>
            <br />
            <div class="card-text text-black-50">
              <p>
                Öppet helgfria vardagar (10:00-20:00) Övriga dagar (12:00-16:30)
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- Team Member 2 -->
      <div class="col-xl-4 col-md-4 mb-4">
        <div class="card border-0 shadow">
          <img
            src="https://raw.githubusercontent.com/megakb888/img/master/assets/img/personal/contact/contact_sales.webp"
            class="card-img-top"
            alt="kontakt försäljning"
          />
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Försäljning</h5>
            <div class="card-text text-black-50">0771-40 44 00</div>
            <div class="card-text text-black-50">
              <a href="mailto:sales@netatonce.se">sales@netatonce.se</a>
            </div>
            <br />
            <div class="card-text text-black-50">
              <p>
                Öppet helgfria vardagar (10:00-17:00) Stängt för lunch
                (12:00-13:00)
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- Team Member 3 -->
      <div class="col-xl-4 col-md-4 mb-4">
        <div class="card border-0 shadow">
          <img
            src="https://raw.githubusercontent.com/megakb888/img/master/assets/img/personal/contact/contact_finance.webp"
            class="card-img-top"
            alt="kontakt fakturafrågor"
          />
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Fakturafrågor</h5>
            <div class="card-text text-black-50">0771-40 44 00</div>
            <div class="card-text text-black-50">
              <a href="mailto:ekonomi@netatonce.se">ekonomi@netatonce.se</a>
            </div>
            <br />
            <div class="card-text text-black-50">
              <p>Öppet mån-tors (13:30-16:00)</p>
            </div>
            <br />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
</main>
