<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container">
      <h1 class="masthead-heading mb-0">Bredband från Småland</h1>
      <h2 class="masthead-subheading mb-0">Priser som knäcker jättarna!</h2>
      <a href="/bredband" class="btn btn-primary btn-lg text-3 font-weight-semibold px-4 py-3 mt-5">Sök på din adress</a>
    </div>
  </div>
</header>
  <div class="home-intro mb-0" id="home-intro">
    <div class="container">

      <div class="row align-items-center">
        <div class="col-lg-8">
          <p>
            Kontakta oss så hjälper vi er med att räkna ut vad ni egentligen behöver i er verksamhet.
          </p>
        </div>
        <div class="col-lg-4">
          <div class="get-started text-left text-lg-right">
            <a href="/foretag/kontakt" class="btn btn-primary  text-3 font-weight-semibold px-4 py-3">Kontakta oss!</a>
            <div class="learn-more">eller <a href="#">beställ nu.</a></div>
          </div>
        </div>
      </div>

    </div>
  </div>
  
<!-- Page Content -->
<div class="container">

    <!-- Heading Row -->
    <div class="row align-items-center my-5">
      <div class="col-lg-7">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="https://raw.githubusercontent.com/megakb888/img/master/assets/img/business/home/home/business_we.webp" alt="">
      </div>
      <!-- /.col-lg-8 -->
      <div class="col-lg-5">
        <h1 class="font-weight-light">Företagstjänster i Wexnet</h1>
        <p>Just nu extra låga priser!
            Kontakta oss idag för beställning.</p>
        <a class="btn btn-primary" href="#">Läs mer</a>
      </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->
  <hr />
    <!-- Content Row -->
    <div class="row align-items-center my-5">
        <div class="col-lg-7">
          <img class="img-fluid rounded mb-4 mb-lg-0" src="https://raw.githubusercontent.com/megakb888/img/master/assets/img/business/home/home/business_home.webp" alt="">
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-5">
          <h1 class="font-weight-light">Internet PRO</h1>
          <p>Behöver ert företag garanterad hastighet oavsett tid på dygnet?</p>
          <a class="btn btn-primary" href="#">Läs mer</a>
        </div>
        <!-- /.col-md-4 -->
      </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->