<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 class="page-header">Microsoft Windows 10 Mail</h3>
      <p>Appen E-post ingår i Windows 10.</p>
      <p>Om ni använde Windows Live E-post eller Outlook Express på er gamla dator ska ni prova appen E-post.</p>
      <p>Ni behöver ha era kontouppgifter för e-postadressen till hands. Saknar ni dessa så kan ni logga in på <a href="https://minasidor.netatonce.net/">Mina Sidor</a> och hitta uppgifterna.</p>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/uSf8HmxTpAI" frameborder="0" allowfullscreen=""></iframe>
      </div>
      <hr />
    </div>
  </div>
</div>
