<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container">
      <h1 class="masthead-heading mb-0">Bredband från Småland</h1>
      <h2 class="masthead-subheading mb-0">Priser som knäcker jättarna!</h2>
      <a
        href="/bredband"
        class="btn btn-primary btn-lg text-3 font-weight-semibold px-4 py-3 mt-5"
        >Sök på din adress</a
      >
    </div>
  </div>
</header>

<div class="home-intro mb-0" id="home-intro"></div>

<section class="showcase backwhite">
  <div class="container p-0">
    <div class="row no-gutters">
      <div
        class="col-lg-6 order-lg-2 text-white showcase-img"
        style="background-image: url('https://raw.githubusercontent.com/megakb888/img/master/assets/img/personal/home/home_first_image.webp');"
      ></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>Byanät</h2>
        <p class="lead mb-0">
          Är ni en fiberförening som vill gräva in fiber på er hemort? Är ni en
          fiberförening som vill gräva in fiber på er hemort? Är ni en
          fiberförening som vill gräva in fiber på er hemort? Är ni en
          fiberförening som vill gräva in fiber på er hemort?
        </p>
      </div>
    </div>
    <div class="row no-gutters">
      <div
        class="col-lg-6 text-white showcase-img"
        style="background-image: url('https://raw.githubusercontent.com/megakb888/img/master/assets/img/personal/home/home_second_image.webp');"
      ></div>
      <div class="col-lg-6 my-auto showcase-text">
        <h2>Peering för gaming.</h2>
        <p class="lead mb-0">
          Vi peerar nu med Riot Games vilket leder till bättre responstid mot
          deras servrar. Vi peerar nu med Riot Games vilket leder till bättre
          responstid mot deras servrar. Vi peerar nu med Riot Games vilket leder
          till bättre responstid mot deras servrar. Vi peerar nu med Riot Games
          vilket leder till bättre responstid mot deras servrar.
        </p>
      </div>
    </div>
  </div>
</section>
