<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div>
        <h3>Allmänna E-postinställningar</h3>
        <hr />
        <p>Följande e-postinställningar gäller för @netatonce.net-adresser. Om du har någon annan e-postleverantör måste du prata med dem om vilka inställningar som krävs.</p>
        <p>Port 25 är blockerad. Om din e-postleverantör har gett dig SMTP-inställningar som kräver port 25 bör du kontakta dem om ett alternativ.</p>
        <p>Beroende på din e-postklient (Outlook, Windows Live Mail, Thunderbird etc.) hittar du nedan inställningar på olika platser i programmet. Vanligtvis hittar du dem under ”Kontoinställningar” eller liknande.</p><br />
        <h5>Inställningar för inkommande:</h5>
        <p><b>Kontotyp:</b> IMAP (Får du inte välja kontotyp är det oftast IMAP som standard)<br />
          <b>E-postserver:</b> mail.netatonce.net<br />
          <b>Serverport:</b> 143 <br />
          <b>Säkerhetstyp/Kryptering:</b> STARTTLS<br />
          <b>Användarnamn:</b> Hela e-postadressen.<br />
          <b>Lösenord:</b> Ditt e-postlösenord, hittas på Mina Sidor.</p><br />
        <h5>Äldre versioner av Windows Live Mail:</h5>
        <p>Om det inte går att välja STARTTLS så kan följande inställningar användas:<br />
          <b>Serverport:</b> 993<br />
          <b>Säkerhetstyp/Kryptering:</b> SSL/TLS</p><br />
        <h5>Inställningar för utgående SMTP:</h5>
        <p><b>E-postserver:</b> smtp.netatonce.net<br />
          <b>Serverport:</b> 587<br />
          <b>Säkerhetstyp/Kryptering:</b> STARTTLS<br />
          <b>Användarnamn:</b> Samma som inkommande (Hela e-postadressen).<br />
          <b>Lösenord:</b> Samma som inkommande (Ditt e-postlösenord, hittas på Mina Sidor).</p>
        <br />
      </div>
    </div>
  </div>
</div>
