<header class="bg-nao py-5 mb-5">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h1 class="display-4 text-white">Lediga jobb</h1>
        </div>
      </div>
    </div>
  </header>
  
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-6">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Tjänst</th>
                <th scope="col">ID</th>
                <th scope="col">Antal tjänster</th>
                <th scope="col">Sista ansökningsdatum</th>
                <th scope="col">Publiceringsdatum</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Jobb</th>
                <td>1</td>
                <td>2</td>
                <td>2020-09-30</td>
                <td>2020-08-18</td>
              </tr>
              <tr>
                <th scope="row">Jobb</th>
                <td>2</td>
                <td>2</td>
                <td>2020-09-30</td>
                <td>2020-08-18</td>
              </tr>
              <tr>
                <th scope="row">Jobb</th>
                <td>3</td>
                <td>2</td>
                <td>2020-09-30</td>
                <td>2020-08-18</td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
  