<div class="container">
  <h2>Sitemap</h2>
  <div class="row">
    <div class="col-sm-3">

      <h4 class="font-weight-bold">HANDLA</h4>
      <ul class="list list-icons list-icons-sm mb-4">
        <li>
          <h5>Bredband via Fiber</h5>
          <ul>
            <li><a href="">Huvudsida</a></li>
            <hr>
            <li><a href="/stadsnat/allbohus">Allbohus</a></li>
            <li><a href="/stadsnat/biggnet">Biggnet</a></li>
            <li><a href="/stadsnat/burlovs-portalen">Burlövs Portalen</a></li>
            <li><a href="/stadsnat/framtidens-bredband">Framtidens Bredband</a></li>
            <li><a href="/stadsnat/hammarby-sjostad">Hammarby Sjöstad</a></li>
            <li><a href="/stadsnat/heimstaden">Heimstaden</a></li>
            <li><a href="/stadsnat/hassleholms-fibernat">Hässleholms Fibernät</a></li>
            <li><a href="/stadsnat/ip-only">IP-Only</a></li>
            <li><a href="/stadsnat/itux-goteborg">iTux Göteborg</a></li>
            <li><a href="/stadsnat/itux-motala">iTux Motala</a></li>
            <li><a href="/stadsnat/itux-skane">iTux Skane</a></li>
            <li><a href="/stadsnat/itux-stockholm">iTux Stockholm</a></li>
            <li><a href="/stadsnat/itux-varberg">iTux Varberg</a></li>
            <li><a href="/stadsnat/itux-villa">iTux Villa</a></li>
            <li><a href="/stadsnat/itux-atvidaberg">iTux Åtvidaberg</a></li>
            <li><a href="/stadsnat/karlshamn-stadsnat">Karlshamn Stadsnät</a></li>
            <li><a href="/stadsnat/kristinehamns-portalen">Kristinehamns Portalen</a></li>
            <li><a href="/stadsnat/kungalv-energi">Kungälv Energi</a></li>
            <li><a href="/stadsnat/ljungby-energi">Ljungby Energi</a></li>
            <li><a href="/stadsnat/lkf">LKF</a></li>
            <li><a href="/stadsnat/molndal-stadsnat">Mölndal Stadsnät</a></li>
            <li><a href="/stadsnat/njudung-energi">Njudung Energi</a></li>
            <li><a href="/stadsnat/nybro">Nybro</a></li>
            <li><a href="/stadsnat/open-universe">Open Universe</a></li>
            <li><a href="/stadsnat/seths">Seths</a></li>
            <li><a href="/stadsnat/splitvision">Splitvision</a></li>
            <li><a href="/stadsnat/ituxstenafastigheter">Stena Fastigheter</a></li>
            <li><a href="/stadsnat/svenskastadsnat">Svenskas Stadsnät</a></li>
            <li><a href="/stadsnat/oppenfiber">Öppen Fiber</a></li>
            <li><a href="/stadsnat/urbano-vaxjo">Urbano Växjö</a></li>
            <li><a href="/stadsnat/vellinge-portalen">Vellinge Portalen</a></li>
            <li><a href="/stadsnat/ituxvictoriapark">Victoria Park</a></li>
            <li><a href="/stadsnat/wetternet">Wetternet</a></li>
            <li><a href="/stadsnat/wexnet">Wexnet</a></li>
            <li><a href="/stadsnat/zmarket">Zmarket</a></li>
          </ul>
        </li>
        <li>
          <h5>Bredband via telefonjacket</h5>
          <ul>
            <li><a href="/adsl">Huvudsida</a></li>
          </ul>
        </li>
        <li>
          <h5>Beställ</h5>
          <ul>
            <li><a href="">Huvudsida</a></li>
          </ul>
        </li>
        <li>
          <h5>Svenljunga Fiber</h5>
          <ul>
            <li><a href="">Huvudsida</a></li>
          </ul>
        </li>
        <li>
          <h5>Svedala Fiber</h5>
          <ul>
            <li><a href="">Huvudsida</a></li>
          </ul>
        </li>
      </ul>

    </div>

    <div class="col-sm-3">

      <h4 class="font-weight-bold">TJÄNSTER</h4>
      <ul class="list list-icons list-icons-sm mb-4">
        <li>
          <h5>ESET Anti-Virus</h5>
          <ul>
            <li><a href="/eset">Huvudsida</a></li>
          </ul>
        </li>
      </ul>
      <h4 class="font-weight-bold">ANDRA SIDOR</h4>
      <ul class="list list-icons list-icons-sm mb-4">
        <li>
          <h5>Säljkontakt sida</h5>
          <ul>
            <li><a href="/adsl">Huvudsida</a></li>
          </ul>
        </li>
        <li>
          <h5>Nyheter</h5>
          <ul>
            <li><a href="/nyheter">Huvudsida</a></li>
          </ul>
        </li>
        <li>
          <h5>Login</h5>
          <ul>
            <li><a href="/login">Huvudsida</a></li>
          </ul>
        </li>
      </ul>
      <h4 class="font-weight-bold">Okategoriserade</h4>
      <ul class="list list-icons list-icons-sm mb-4">
        <li>
          <h5>Cookies (FÄRDIG)</h5>
          <ul>
            <li><a href="/cookies">Huvudsida</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="col-sm-3">

    </div>
    <div class="col-sm-3">

    </div>
  </div>

</div>
