<header class="bg-nao py-5 mb-5">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h1 class="display-4 text-white">Om Webbplatsen</h1>
        </div>
      </div>
    </div>
  </header>
  
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-6">
        <h2>Rekommenderade webbläsare</h2>
        <hr>
        <p>För att surfa på netatonce.se rekommenderar vi att du använder de senaste versionerna av följande webbläsare:</p>

        <div class="album py-5">
            <div class="container">
              <div class="row">
                <div class="col-md-4">
                  <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <h3 class="card-text text-center"><a target="_blank" href="https://www.google.com/intl/sv/chrome/">Google Chrome</a></h3>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <h3 class="card-text text-center"><a target="_blank" href="https://www.mozilla.org/sv-SE/firefox/new/">Mozilla Firefox</a></h3>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <h3 class="card-text text-center"><a target="_blank" href="https://www.microsoft.com/sv-se/edge">Microsoft Edge</a></h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 mb-6">
        <h2>Läsa pdf-filer</h2>
        <hr>
        <p>På netatonce.se kommer du kunna ta del av prislistor och manualer i pdf-format. Du behöver till exempel programmet Adobe Reader (Acrobat) i din dator för att kunna läsa pdf-filer. Om du inte har Adobe Reader kan du laddar ner det här.</p>
        <br />
        <div class="album py-5">
            <div class="container">
              <div class="row">
                <div class="col-md-4">
                  <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <h3 class="card-text text-center"><a target="_blank" href="https://get.adobe.com/se/reader/">Adobe Reader</a></h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  