<header class="bg-nao py-5 mb-5">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h1 class="display-4 text-white">Om oss</h1>
        </div>
      </div>
    </div>
  </header>


<div class="bg-white">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6">
        <h1 class="display-4">Net at Once</h1>
        <p class="lead text-muted mb-0">Net at Once startade som Internetleverantör 1997 och har idag privatpersoner, bostadsrättsföreningar, kommuner och företagskunder över hela Sverige. Som Internet och telefonoperatör har Net at Onces kunder tillgång till ett brett tjänsteutbud, i högkvalitativa nät med egen infrastruktur, samt genom samarbeten med andra aktörer för att möta marknadens behov.</p>
      </div>
      <div class="col-lg-6 d-none d-lg-block"><img
          src="assets/img/banner/home/about_vaxjo.webp" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</div>

<div class="bg-light py-5">
  <div class="container py-5">
    <div class="row align-items-center mb-5">
      <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
        <h2 class="font-weight-light">Bolagsfakta</h2>
        <br />
        <table class="table">
            <tbody>
              <tr>
                <th scope="row">Namn</th>
                <td>Net at Once Sweden AB</td>
              </tr>
              <tr>
                <th scope="row">Org.nr</th>
                <td>556506-3491</td>
              </tr>
              <tr>
                <th scope="row">Momsreg. (VAT)</th>
                <td>SE556506349101</td>
              </tr>              
              <tr>
                <th scope="row">F-skattsedel</th>
                <td>Ja</td>
              </tr>
            </tbody>
          </table>
          <p>Net at Once är en godkänd operatör av Post- och telestyrelsen (PTS).</p>
      </div>
      <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img
          src="assets/img/banner/home/about_logo.webp" alt=""
          class="img-fluid mb-4 mb-lg-0"></div>
    </div>
  </div>
</div>
