  <!-- citynet-list -->
  <header class="masthead text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 style="color: white;" class="mb-5">ANGE DIN ADRESS FÖR PRIS OCH HASTIGHET</h2>
        </div>
        <div class="col-md-12 col-lg-10 col-xl-8 mx-auto">
          <nao-citynet-search></nao-citynet-search>
        </div>
      </div>
    </div>
    <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h4 style="color: white;" class="mb-2">Välj ditt nät direkt.</h4>
          </div>
          <div class="col-md-12 col-lg-10 col-xl-8 mx-auto">
                <div class="form-row">
                    <div class="col-md-8 mb-3">
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option value="" disabled="" class="" selected="selected">Välj nät</option>
                            <option label="Allbohus" value="object:662">Allbohus</option>
                            <option label="Biggnet" value="object:663">Biggnet</option>
                            <option label="Burlövs Portalen" value="object:664">Burlövs Portalen</option>
                            <option label="Framtidens Bredband" value="object:665">Framtidens Bredband</option>
                            <option label="Hammarby Sjöstad" value="object:666">Hammarby Sjöstad</option>
                            <option label="Heimstaden" value="object:667">Heimstaden</option>
                            <option label="Hässleholm Fibernät" value="object:668">Hässleholm Fibernät</option>
                            <option label="IP-Only" value="object:669">IP-Only</option>
                            <option label="iTux Göteborg" value="object:670">iTux Göteborg</option>
                            <option label="iTux Motala" value="object:671">iTux Motala</option>
                            <option label="iTux Skåne" value="object:672">iTux Skåne</option>
                            <option label="iTux Stockholm" value="object:673">iTux Stockholm</option>
                            <option label="iTux Varberg" value="object:674">iTux Varberg</option>
                            <option label="iTUX Villa" value="object:675">iTUX Villa</option>
                            <option label="iTux Åtvidaberg" value="object:676">iTux Åtvidaberg</option>
                            <option label="Karlshamn Stadsnät" value="object:677">Karlshamn Stadsnät</option>
                            <option label="Kristinehamns Portalen" value="object:678">Kristinehamns Portalen</option>
                            <option label="Kungälv Energi" value="object:679">Kungälv Energi</option>
                            <option label="Ljungby Energi" value="object:680">Ljungby Energi</option>
                            <option label="LKF" value="object:681">LKF</option>
                            <option label="Mölndal Stadsnät" value="object:682">Mölndal Stadsnät</option>
                            <option label="Njudung Energi" value="object:683">Njudung Energi</option>
                            <option label="Nybro" value="object:684">Nybro</option>
                            <option label="Open Universe" value="object:685">Open Universe</option>
                            <option label="Seths" value="object:686">Seths</option>
                            <option label="SplitVision" value="object:687">SplitVision</option>
                            <option label="Stena Fastigheter" value="object:688">Stena Fastigheter</option>
                            <option label="Svedala Fibernät" value="object:689">Svedala Fibernät</option>
                            <option label="Svenska Stadsnät" value="object:689">Svenska Stadsnät</option>
                            <option label="Svenjunga Fibernät" value="object:689">Svenljunga Fibernät</option>
                            <option label="Telia Öppen Fiber" value="object:690">Telia Öppen Fiber</option>
                            <option label="Urbano" value="object:691">Urbano</option>
                            <option label="Vellinge Portalen" value="object:692">Vellinge Portalen</option>
                            <option label="Victoria Park" value="object:693">Victoria Park</option>
                            <option label="Wetternet" value="object:694">Wetternet</option>
                            <option label="Wexnet" value="object:695">Wexnet</option>
                            <option label="Zmarket" value="object:696">Zmarket</option>
                          </select>
                    </div>
                    <div class="col-md-2 mb-3">
                        <button class="btn btn-primary btn-block" type="submit">Gå till</button>
                    </div>
                </div>
          </div>
        </div>
      </div>
  </header>
