<!-- VPN -->
<header class="bg-nao py-5 mb-5">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-12">
        <h1 class="display-4 text-white">VPN</h1>
        <p class="lead text-white">
          ETT NÄT PÅ FLERA KONTOR
        </p>
        <p class="lead text-white">
          När ett företag har kontor på flera geografiskt skilda platser måste
          kommunikationen fungera felfritt och länkas samman så att
          organisationen fungerar som en helhet. Med VPN kopplar du samman de
          olika kontoren i ett nät helt separerat från både andra kunder och
          Internet.
        </p>
        <br />
        <p>
          <a href="/foretag/kontakt" class="btn btn-success btn-lg"
            >Kontakta oss »</a
          >
        </p>
      </div>
    </div>
  </div>
</header>
<!-- Content section -->
<section id="types">
  <div class="container">
    <br />
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Olika VPN-tjänster</h2>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-lg-6 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title">
              ETHERNET VPN
            </h4>
            <p class="card-text">
              Känn dig helt trygg på nätet med senaste versionen av vår
              Internetsäkerhet. Anslut säkert till sociala nätverk, surfa eller
              spela.
            </p>
            <p class="card-text">Pris från 39 kr/mån, utan bindningstid.</p>
            <p class="card-text">
              Nu ingår 3 månader utan extra kostnad när du beställer en
              bredbandstjänst från oss.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title">
              IP VPN
            </h4>
            <p class="card-text">
              Med IP VPN kopplar du samman de olika kontoren i ett nät helt
              separerat från både andra kunder och Internet. En instans skapas i
              vår befintliga utrustning som innehåller all routinginformation om
              ditt nätverk. Ute på de olika kontoren installeras en fast
              förbindelse samt en router som vi konfigurerar och sedan övervakar
              för att säkerställa funktionalitet och tillgänglighet.
              <br /><br />Du kan sedan välja att komplettera med en
              Internetanslutning, som antingen realiseras genom att den finns
              fysiskt på ett eller flera kontor, eller att den finns på en
              central punkt i vårt nätverk. De andra kontoren kan sedan ansluta
              mot Internet genom den eller dessa anslutningar. På detta sätt
              slipper du att både köpa en Internetanslutning och en
              VPN-anslutning till varje kontor.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-light" id="order">
  <div class="container">
    <br />
    <div class="row mb-2">
      <div class="col-md-12">
        <div
          class="row no-gutters overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
        >
          <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-0">Beställa</h3>

            <p class="mb-auto">
              Kontakta oss på 0771-40 44 00 eller sales@netatonce.se för offert.
            </p>
            <a href="#" class="stretched-link">Läs mer</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
