<!-- xDSL -->
<header class="bg-nao py-5 mb-5">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h1 class="display-4 text-white">DSL</h1>
        </div>
      </div>
    </div>
  </header>
  <!-- Content section -->
  
  <section class="pricing py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-4" >
          <div class="card mb-5 mb-lg-0">
            <div class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center">8 Mbit/s</h5>
              <h6 class="card-price text-center"><span class="period"> kr/mån</span></h6>
              <hr>
              <ul>
                <li><strong>Kampanj:</strong> Halva priset i tre månader</li>
                <li><strong>Kampanjpris:</strong>  kr/mån</li>
                <li><strong>Ord.pris:</strong>  kr/mån</li>
                <li><strong>Bindningstid:</strong> månader</li>
              </ul>
              <hr>
              <a href="" class="btn btn-block btn-primary text-uppercase">Beställ</a>
            </div>
          </div>
          <br />
        </div>        
        <div class="col-lg-4" >
          <div class="card mb-5 mb-lg-0">
            <div class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center">24 Mbit/s</h5>
              <h6 class="card-price text-center"><span class="period"> kr/mån</span></h6>
              <hr>
              <ul>
                <li><strong>Kampanj:</strong> Halva priset i  månader</li>
                <li><strong>Kampanjpris:</strong>  kr/mån</li>
                <li><strong>Ord.pris:</strong>  kr/mån</li>
                <li><strong>Bindningstid:</strong> månader</li>
              </ul>
              <hr>
              <a href="" class="btn btn-block btn-primary text-uppercase">Beställ</a>
            </div>
          </div>
          <br />
        </div>        
        <div class="col-lg-4" >
          <div class="card mb-5 mb-lg-0">
            <div class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center">60 Mbit/s</h5>
              <h6 class="card-price text-center"><span class="period"> kr/mån</span></h6>
              <hr>
              <ul>
                <li><strong>Kampanj:</strong> Halva priset i  månader</li>
                <li><strong>Kampanjpris:</strong>  kr/mån</li>
                <li><strong>Ord.pris:</strong>  kr/mån</li>
                <li><strong>Bindningstid:</strong> månader</li>
              </ul>
              <hr>
              <a href="" class="btn btn-block btn-primary text-uppercase">Beställ</a>
            </div>
          </div>
          <br />
        </div>
      </div>
    </div>
  </section>
  
  <section class="bg-light" id="tillaggstjanster">
    <div class="container">
      <br />
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Tilläggstjänster</h2>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-lg-6 mb-4">
          <div class="card h-100">
            <a href="/sakerhetspaket"><img class="card-img-top" src="assets/img/services/eset.jpg" alt="eset"></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="/sakerhetspaket">Eset Säkerhetspaket</a>
              </h4>
              <p class="card-text">Känn dig helt trygg på nätet med senaste versionen av vår Internetsäkerhet. Anslut
                säkert till sociala nätverk, surfa eller spela.</p>
              <p class="card-text">Pris från 39 kr/mån, utan bindningstid.</p>
              <p class="card-text">Nu ingår 3 månader utan extra kostnad när du beställer en bredbandstjänst från oss.</p>
  
            </div>
          </div>
        </div>
        <div class="col-lg-6 mb-4">
            <div class="card h-100">
              <a href="/telefoni"><img class="card-img-top" src="assets/img/services/telefoni.jpg" alt="eset"></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="/telefoni">Telefoni</a>
                </h4>
                <p class="card-text">En helhetslösning med hemtelefoni via bredbandet är en hemtelefon där man ringer via bredbandet med hjälp av en telefonbox. Man kopplar telefonboxen mellan den vanliga telefonen och bredbandsuttaget.            </p>
                <p class="card-text">Pris från 49 kr/mån, utan bindningstid.</p>
                <p class="card-text">Nu ingår 3 månader utan extra kostnad när du beställer en bredbandstjänst från oss.</p>
              </div>
            </div>
          </div>
      </div>
    </div>
  </section>
  
  <section id="network">
    <div class="container">
      <br />
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Nätverk och router</h2>
        </div>
      </div>
      <br />
      <div class="row mb-2">
        <div class="col-md-6">
          <div
            class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <h3 class="mb-0">WiFi router</h3>
              <div class="mb-1 text-muted">ASUS RT-AC87U</div>
              <p class="card-text mb-auto">Info om specifik router eller annan produkt. Info om specifik router eller annan produkt. Info om specifik router eller annan produkt.</p>
              <a href="#" class="stretched-link">Läs mer</a>
            </div>
            <div class="col-auto d-none d-lg-block">
              <img src="assets/img/products/201.png" />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div
            class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <h3 class="mb-0">WiFi förlängare</h3>
              <div class="mb-1 text-muted">ASUS RP-AC56</div>
              <p class="mb-auto">Info om specifik router eller annan produkt. Info om specifik router eller annan produkt. Info om specifik router eller annan produkt.</p>
              <a href="#" class="stretched-link">Läs mer</a>
            </div>
            <div class="col-auto d-none d-lg-block">
              <img src="assets/img/products/200.png" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="bg-light" id="villkor">
    <div class="container">
      <br />
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Villkor för tjänsterna</h2>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-lg-12 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <p class="card-text">18 månaders bindningstid. 1 månads uppsägningstid. Priser gäller nybeställning och är
                inkl. moms.</p>
              <p class="card-text">Ångerrätten är på 14 dagar.</p>
              <p class="card-text">OBS! – uppsägningstiden (1 månad) påbörjas tidigast efter att eventuell kampanj
                passerat.</p>
              <p class="card-text">Kampanjerbjudanden gäller endast en gång per hushåll.</p>
              <p class="card-text"><img src="../../../assets/img/icon/pdf.png" width="30px"><a target="_new" href="https://www.netatonce.se/doc/pdf/allmanna-villkor-privat-1_37.pdf">Allmänna Villkor</a> gäller för tjänsterna.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  