  <!-- Masthead -->
  <header class="masthead text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">Internetsäkerhet för våra kunder</h1>
          <h2 class="mb-5">ESET INTERNET SECURITY</h2>
        </div>
      </div>
    </div>
  </header>

  <!-- Page Content -->
  <section class="py-3 bg-dark"></section>

  <section class="showcase">
    <div class="container-fluid p-0">
      <div class="row no-gutters">

        <div class="col-lg-6 order-lg-2 text-white showcase-img"
          style="background-image: url('assets/img/services/eset/bg-showcase-1.jpg');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Säkrare inköp och bankärenden<br /> på nätet</h2>
          <p class="lead mb-0">Vår produkt skyddar automatiskt dina bankärenden och erbjuder en särskild, skyddad
            webbläsare där du kan betala säkert på nätet och hantera webbaserade plånböcker för kryptovalutor.</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 text-white showcase-img"
          style="background-image: url('assets/img/services/eset/bg-showcase-2.jpg');">
        </div>
        <div class="col-lg-6 my-auto showcase-text">
          <h2>Legendarisk antivirus-teknik</h2>
          <p class="lead mb-0">Säkerhet i flera lager skyddar dig mot alla typer av hot, både via nätet och på andra
            vägar, och förhindrar att skadlig programvara sprids till andra användare.</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img"
          style="background-image: url('assets/img/services/eset/bg-showcase-3.jpg');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Skydda ditt IoT och din webbkamera</h2>
          <p class="lead mb-0">Testa hemma-routern och smarta enheter med avseende på sårbarheter. Upptäck och blockera
            alla oväntade åtkomster till din webbkamera.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Icons Grid -->
  <section class="features-icons bg-light text-center">
    <div class="container">
      <div style="padding-bottom: 25px;">
        <h1>Det handlar om balans... den perfekta balansen</h1>
        <p class="lead mb-0">Det räcker inte att bara ge hög hastighet, god detektering eller användbarhet. Man behöver
          alla tre för att online-upplevelsen ska bli smidig och njutbar.</p>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="fas fa-tachometer-alt icon-layers m-auto text-primary"></i>
            </div>
            <h3>Snabbt</h3>
            <p class="lead mb-0">Byggd för att du ska kunna hålla högsta hastighet, utan avbrott.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="fas fa-crosshairs icon-layers m-auto text-primary"></i>
            </div>
            <h3>Detektering</h3>
            <p class="lead mb-0">Blockerar och eliminerar även de mest avancerade hoten.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="far fa-check-circle icon-layers m-auto text-primary"></i>
            </div>
            <h3>Användbarhet</h3>
            <p class="lead mb-0">Ett skydd du kan konfigurera och sedan låta vara, som du installerar på några minuter.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>