<header class="bg-nao py-5 mb-5">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-12">
        <h1 class="display-4 text-white">Telefoni via bredbandet</h1>
        <p class="lead text-white">
          Hemtelefonin går över fibern, men du kan fortfarande använda dina
          gamla telefoner och ditt gamla telefonnummer får du givetvis behålla.
        </p>
        <br />
        <p>
          <a href="/foretag/kontakt" class="btn btn-success btn-lg"
            >Kontakta oss »</a
          >
        </p>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Telefoni BAS</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">
          49 kr<small class="text-muted">/mån</small>
        </h1>
        <hr />
        <ul class="list-unstyled mt-3 mb-4">
          <li>Sverigesamtal – 0,14 kr/min</li>
          <hr />
          <li>Mobilsamtal – 1,49 kr/min</li>
          <hr />
          <li>Öppningsavgift – 0,45 kr/samtal</li>
        </ul>
      </div>
    </div>
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Telefoni Mini</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">
          69 kr<small class="text-muted">/mån</small>
        </h1>
        <hr />
        <ul class="list-unstyled mt-3 mb-4">
          <li>Sverigesamtal – 0,19 kr/min</li>
          <hr />
          <li>Mobilsamtal – 0,69 kr/min</li>
          <hr />
          <li>Öppningsavgift – 0,69 kr/samtal</li>
          <hr />
          <li>Ring för hela månadsavgiften</li>
        </ul>
      </div>
    </div>
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Telefonbox</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">549 kr</h1>
        <hr />
        <ul class="list-unstyled mt-3 mb-4">
          <li>Alltid den senaste mjukvaran</li>
          <hr />
          <li>Fungerar på både fiber och xDSL</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<section class="bg-light" id="tilläggstjänster">
  <div class="container">
    <br />
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Tilläggstjänster</h2>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-lg-12 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <table class="table table-hover table-bordered">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Tilläggstjänst</th>
                  <th scope="col">Avgift</th>
                  <th scope="col">Telefoni BAS</th>
                  <th scope="col">Telefoni Mini</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Flatrate</th>
                  <td>50 kr/mån</td>
                  <td style="text-align: center;">
                    <i class="fas fa-check"></i>
                  </td>
                  <td style="text-align: center;">
                    <i class="fas fa-times"></i>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Mobil Plus</th>
                  <td>50 kr/mån</td>
                  <td style="text-align: center;">
                    <i class="fas fa-check"></i>
                  </td>
                  <td style="text-align: center;">
                    <i class="fas fa-times"></i>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Telefonsvarare</th>
                  <td>19 kr/mån</td>
                  <td colspan="2" style="text-align: center;">
                    <i class="fas fa-check"></i>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Nummerpresentation</th>
                  <td>19 kr/mån</td>
                  <td colspan="2" style="text-align: center;">
                    <i class="fas fa-check"></i>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Hemligt nummer</th>
                  <td>Gratis</td>
                  <td colspan="2" style="text-align: center;">
                    <i class="fas fa-check"></i>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Medflytt av nummer</th>
                  <td>99 kr</td>
                  <td colspan="2" style="text-align: center;">
                    <i class="fas fa-check"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="information">
  <div class="container">
    <br />
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Information</h2>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-lg-12 mb-4">
        <h5>Har ni Net at Once idag och vill beställa telefoni?</h5>
        <p>
          Logga då in på Mina sidor, där kan ni beställa fast telefoni.
          Inloggningsuppgifterna hittar ni på er faktura eller på det kundbrev
          ni fick när ni kopplades upp.
        </p>
        <br />
        <h5>Avgifter</h5>
        <p>
          Startavgiften för telefonitjänsten är 0 kr. Medflytt av tidigare
          telefonnummer kostar 99 kr. Har ni inget nummer sedan tidigare
          tilldelar vi er ett nytt kostnadsfritt.
        </p>
        <br />
        <h5>Användning</h5>
        <p>
          För att använda telefonin behöver ni en telefonidosa. Ni kan välja att
          antingen hyra eller köpa dosan. En ren telefonidosa kostar 29 kr/mån i
          hyra eller 549 kr om ni vill köpa den. Vi har även en telefonidosa med
          inbyggd trådlös router som ni kan hyra för 49 kr/mån eller köpa för
          1295 kr. Fraktavgift tillkommer alltid vid utskick av utrustning.
        </p>
        <p>
          Våra telefonitjänster använder bredbandsuppkopplingen som bärare.
          Detta kallas för IP-telefoni. Fördelen med vår telefoni jämfört med
          traditionell analog telefoni är att ni slipper Telias fasta
          månadsavgift på 165 kr.
        </p>
        <br />
        <h5>Telefon i alla jack</h5>
        <p>
          Vill ni sprida telefonsignalen till alla era telefonjack i bostaden
          kan ni köpa en mellanpropp för 50 kr. Ni kopplar mellanproppen från
          telefonidosan till ert förstajack.
        </p>
        <br />
        <h5>Telefoni Mini</h5>
        <p>
          Utlandssamtal och betalsamtal ingår inte i de 69 kr som ni får ringa
          för.
        </p>
        <br />
        <h5>Om larm</h5>
        <p>
          Vissa larm är inte alltid anpassade för IP-telefoni. Har ni larm eller
          annan liknande tjänst som använder telefonledningen ber vi er kontakta
          larmleverantören för information.
        </p>
        <br />
        <h5>Enkel hantering</h5>
        <p>
          Vår telefonitjänst levereras via boxen vi skickar er, och kräver inte
          att ni har en dator. Ni kan alltid se listor över era ringda samtal på
          Mina sidor.
        </p>
        <p>
          <b>OBS!</b> Vid betalsamtal, innehållstjänster och 077-nummer
          tillkommer 20% av samtalets totalkostnad för samtalet i
          förmedlingsavgift.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="bg-light" id="villkor">
  <div class="container">
    <br />
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Villkor för tjänsterna</h2>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-lg-12 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <p class="card-text">
              Ingen bindningstid. 1 månads uppsägningstid. Priser gäller
              nybeställning och är inkl. moms.
            </p>
            <p class="card-text">Ångerrätten är på 14 dagar.</p>
            <p class="card-text">
              OBS! – uppsägningstiden (1 månad) påbörjas tidigast efter att
              eventuell kampanj passerat.
            </p>
            <p class="card-text">
              Kampanjerbjudanden gäller endast en gång per hushåll.
            </p>
            <p class="card-text">
              <img src="../../../assets/img/icon/pdf.png" width="30px" /><a
                target="_new"
                href="https://www.netatonce.se/doc/pdf/allmanna-villkor-privat-1_37.pdf"
                >Allmänna Villkor</a
              >
              gäller för tjänsterna.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
