<form>
    <div class="form-row">
        <div class="col-md-5 mb-3">
            <input type="text" class="form-control" id="" placeholder="Gatunamn" required>
        </div>
        <div class="col-md-2 mb-3">
            <input type="text" class="form-control" id="" placeholder="Gatunr" required>
        </div>
        <div class="col-md-2 mb-3">
            <input type="text" class="form-control" id="" placeholder="Postnr" required>
        </div>
        <div class="col-md-1 mb-3">
            <button class="btn btn-primary btn-block" type="submit">Sök</button>
        </div>
    </div>
</form>
