<h4>Användbara länkar</h4>
<ngb-tabset>
  <ngb-tab title="Guider">
    <ng-template ngbTabContent>
      <div class="row">
        <div class="col-lg-2">
          <img class="img-fluid" src="../../../../assets/img/icon/pdf.png" alt=""/>
        </div>
        <div class="col-lg-10">
          <h4 class="mt-4">Guider</h4>
          <p>För att få hjälp med t ex konfiguration av box, felsökning och internetinställningar, hänvisa till våra guider.</p>
          <button role="button" class="btn btn-primary">Till guiderna <i class="fas fa-arrow-right"></i></button>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Blanketter & Villkor">
    <ng-template ngbTabContent>
      <div class="row">
        <div class="col-lg-2">
          <img class="img-fluid" src="../../../../assets/img/icon/pdf.png" alt=""/>
        </div>
        <div class="col-lg-10">
          <h4 class="mt-4">Blanketter & Villkor</h4>
          <p>Här hittar du bland annat allmänna villkor, samt blanketter för autogiro, flytt av abonnemang, överlåtelse m m.</p>
          <button role="button" class="btn btn-primary">Till Blanketter & Villkor <i class="fas fa-arrow-right"></i></button>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Prislistor">
    <ng-template ngbTabContent>
      <div class="row">
        <div class="col-lg-2">
          <img class="img-fluid" src="../../../../assets/img/icon/pdf.png" alt=""/>
        </div>
        <div class="col-lg-10">
          <h4 class="mt-4">Prislistor</h4>
          <p>För information om priser för våra tjänster, hänvisa till våra prislistor. Här kan du hitta våra månadspriser, samtalskostnader, priser för datatrafik m m.</p>
          <button role="button" class="btn btn-primary">Till Prislistorna <i class="fas fa-arrow-right"></i></button>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Utrustning">
    <ng-template ngbTabContent>
      <div class="row">
        <div class="col-lg-2">
          <img class="img-fluid" src="../../../../assets/img/icon/pdf.png" alt=""/>
        </div>
        <div class="col-lg-10">
          <h4 class="mt-4">Utrustning</h4>
          <p>Här hittar du information om installation av våra mediaboxar, samt hur du byter mellan boxar.</p>
          <button role="button" class="btn btn-primary">Till boxarna <i class="fas fa-arrow-right"></i></button>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
