<footer class="footer mt-auto">
  <div class="footer-navigation-container">
    <div class="container">
      <div class="row pt-md">
        <div class="col-lg-2 col-6 col-sm-4 mb-5 mb-lg-0">
          <h6 class="footer-heading mb-3">Information</h6>
          <ul class="list-unstyled">
            <li><a href="/omoss">Om oss</a>
            </li>
            <li><a href="/nyheter">Nyheter</a>
            </li>
            <li><a href="/tjanster">Lediga tjänster</a>
            </li>
            <li><a href="/cookies">Cookies</a>
            </li>            
            <li><a href="/website">Om Webbplatsen</a>
            </li>            
            <li><a href="https://minasidor.netatonce.net/" target="_blank">Mina Sidor</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-2 col-6 col-sm-4 mb-5 mb-lg-0">
          <h6 class="footer-heading mb-3">Kundtjänst</h6>
          <ul class="list-unstyled text-small">
            <li><a href="/driftinfo">Driftinformation</a>
            </li>
            <li><a href="/gdpr">GDPR</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-8 col-sm-4 mb-5 mb-lg-0">
          <h6 class="footer-heading mb-3">Öppettider</h6>
          <nao-opentimes></nao-opentimes>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-info-container">
    <div class="container">
      <div class="row align-items-center justify-content-md-between py-4 mt-4 delimiter-top">
        <div class="col-md-6">
          <div class="copyright text-sm font-weight-bold text-center text-md-left">© Copyright 2020 Net at Once AB</div>
        </div>
      </div>
    </div>
  </div>
</footer>
