<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h3>Avtal</h3>
      <p>Har ni frågor om er offert, beställning eller avtal? Kontakta vår försäljningsavdelning som har öppet helgfria vardagar kl. 08:00-17:00.</p>

      <hr />
      <h5>Frågor om bredbandstjänster</h5>
      <p>0771 - 40 44 00</p>
      <p>sales@netatonce.se</p>
      <hr />

      <h5>Frågor om telefonväxlar</h5>
      <p>0470 - 59 27 66</p>
      <p>victor@netatonce.se</p>
      <hr />
      <a href="../../../../../assets/doc/villkor/allmanna-villkor-foretag-2_20.pdf" target="_blank">
        <div class="col-md-3 col-sm-6">
          <div class="panel panel-primary text-center">
            <div class="panel-heading">
              Allmänna villkor
            </div>
            <div class="panel-body">
              <img src="../../../../../assets/img/icon/pdf.png" width="100px"/>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
